.infoDerecha {
    @include desktop {
        @include grid(2, 5rem);
    }  
    padding: 5rem 1rem;
    align-items: center;
}

.contenido-datos-derecha {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    h2 {
        margin-top: 3rem;
        @include desktop {
            margin: 0;
        }
    }

    span {
        font-weight: 700;
    }

    p {
        text-align: justify;
    }
}

.imagen-izquierda {
    grid-column: 1 / 2;
}