
.header {
    background-color: $negro;
    h1 {
        color:  $blanco;
        text-align: center;
        margin: 1rem;
    }
    
    .contenido-header {
        display: flex;
        justify-content: space-between;
        padding: 2rem;
    }
}
